################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructures01/.vs/DataStructures01/FileContentIndex
